@import 'scss/bootstrap';

.img{
  background-image: url(assets/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.count{
  background: linear-gradient(transparent);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  width: 50%;
}

@media screen and (max-width:525px) {
  .count{
    width: 80%;
  }
}
::-webkit-scrollbar{
  display:none;
}